[submodule "ohmyzsh"]
	path = ohmyzsh
	Url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "tmux/plugins/vim-tmux-navigator"]
	path = tmux/plugins/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule "tmux/plugins/tmux-kanagawa"]
	path = tmux/plugins/tmux-kanagawa
	url = git@github.com:Nybkox/tmux-kanagawa.git

